@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #020617; /* neutral-950 */
    --foreground: #F8FAFC; /* neutral-50 */
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings: "rlig" 1, "calt" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Smooth Focus Outlines */
  *:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px #020617, 0 0 0 4px #9333EA; /* neutral-950, primary-500 */
  }

  ::selection {
    background-color: rgba(147, 51, 234, 0.3); /* primary-500/30 */
    color: #ffffff;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
